.ro1{width:100%;}
.ro2{width:40%;}
.ro3{width:40%;}
.ro4{width:40%;}
.ro5{width:40%;}
.ro6{width:40%;}
.ro7{width:40%;}
.ro8{width:40%;}
.ro9{width:40%;}
.ro10{width:40%;}
.ro11{width:40%;}
.ro12{width:40%;}
.ro13{width:40%;}
.ro14{width:40%;}
.ro15{width:40%;}
.ro16{width:40%;}
.ro17{width:40%;}
.ro18{width:40%;}
.ro19{width:40%;}
.ro20{width:40%;}
.ro21{width:100%;}
.ro22{width:40%;}
.ro23{width:40%;}
.ro24{width:0%;}
.ro25{width:40%;}
.ro26{width:40%;}
.ro27{width:40%;}
.ro28{width:40%;}
.ro29{width:40%;}
.ro30{width:40%;}
.ro31{width:40%;}
.ro32{width:40%;}
.ro33{width:40%;}
.ro34{width:40%;}
.ro35{width:40%;}
.ro36{width:40%;}
.ro37{width:40%;}
.ro38{width:40%;}
