.u1_moro{width:0%;}
.u2_moara{width:30%;}
.u3_bal{width:20%;}
.u4_ult{width:30%;}
.u5_hara{width:10%;}
.u6_oscri{width:60%;}
.u7_enigma{width:40%;}
.u8_ion{width:40%;}
.u9_lapus{width:00%;}
.u10_zmeura{width:5%;}
.u11_femeia{width:20%;}
.u11_luce{width:15%;}
.u12_plumb{width:0%;}
.u13_test{width:15%;}
.u14_eunu{width:20%;}
.u15_dinceas{width:10%;}
.u16_leoaica{width:0%;}
.u17_aci{width:20%;}
.u18_iona{width:0%;}

.r1_moro{width:0%;}
.r2_moara{width:50%;}
.r3_bal{width:25%;}
.r4_ult{width:20%;}
.r5_hara{width:50%;}
.r6_oscri{width:20%;}
.r7_enigma{width:25%;}
.r8_ion{width:33%;}
.r9_lapus{width:3%;}
.r10_zmeura{width:0%;}
.r11_femeia{width:20%;}
.r11_luce{width:65%;}
.r12_plumb{width:0%;}
.r13_test{width:40%;}
.r14_eunu{width:20%;}
.r15_dinceas{width:10%;}
.r16_leoaica{width:0%;}
.r17_aci{width:0%;}
.r18_iona{width:0%;}
  
