/*.lista_materii_index > li:nth-child(3){*/
/*	display:none !important;*/
/*} */




.new_lectii{
	display:inline-block !important;
}
.new_pica{
	display:inline-block !important;
}
.new_anunturi{
	display:inline-block !important;
}
.new_uman{
	
}
.new_real{
	
}
.new_istorie{
	
}
.new_geografie{
	
}
.new_psiho{
	
}


.new_info{
	display:inline-block !important;
}
.new_logica{
	display:inline-block !important;
}
.new_sociologie{
	display:inline-block !important;
}
.new_vegetala{
	display:inline-block !important;
}
.new_anato{
	display:inline-block !important;
}
.new_economie{
	display:inline-block !important;
}